<head>
    <meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sprintf/1.1.2/sprintf.min.js"></script>
    <link href="/assets/css/common.css" rel="stylesheet">
    <link href="/assets/css/page.css" rel="stylesheet">
</head>

<body>
    <div id="app" class="page__postcode flex-column padding">
        <div class="padding flex flex-align-center search-area">
            <input type="text" v-model="postcode" />
            <button type="button" @click="searchPostcode">検索</button>
        </div>
        <div class="flex-column flex1 padding">
            <div class="flex flex1">
                <div class="flex1">
                    <div v-for="address in addressList" @click="showSearchDetail(address)"
                        class="search-history frame selectable">
                        [[ address.searchHistoryId ]]　[[ address.searchDatetime ]]　<span v-if="address.errMessage">[[
                            address.errMessage ]]</span><span v-else>[[ address.zipcode ]]</span>
                    </div>
                </div>
                <div v-if="selectedAddress" class="frame detail-area">
                    <div class="flex flex-end">
                        <button type="button" class="close-button selectable"
                            @click="selectedSearchHistoryId = null">x</button>
                    </div>
                    <dl>
                        <dt>住所</dt>
                        <dd>[[ selectedAddress.address1 ]][[ selectedAddress.address2 ]][[ selectedAddress.address3 ]]
                        </dd>
                        <dd>[[ selectedAddress.kana1 ]][[ selectedAddress.kana2 ]][[ selectedAddress.kana3 ]]</dd>
                        <dt>都道府県コード</dt>
                        <dd>[[ selectedAddress.prefcode ]]</dd>
                        <dt>郵便番号</dt>
                        <dd>[[ selectedAddress.zipcode ]]</dd>
                        <dt>検索時間</dt>
                        <dd>[[ selectedAddress.searchDatetime ]]</dd>
                    </dl>
                    <template v-if="isPrefectureCdExistsInList">
                        <div class="selectable frame pointer" @click="searchForecast">
                            気温検索（本日毎時）
                        </div>
                        <div class="selectable frame pointer" @click="searchForecast2">
                            気温検索（日替わり）
                        </div>
                    </template>
                    <div v-else class="disabled frame pointer">気温検索</div>
                    <div class="selectable frame pointer" @click="deleteHistory">
                        検索履歴削除
                    </div>
                </div>
            </div>
        </div>
        <custom-dialog :title="dialog.title" :message="dialog.message" :is-active="dialog.isActive"
            @close="dialog.isActive = false"></custom-dialog>
    </div>
    <script type="text/javascript" src="/assets/js/libs/utils.js" charset="utf-8"></script>
    <script type="text/javascript" src="/assets/js/postcode.js" charset="utf-8"></script>
</body>